{{define "content"}}
<div class="content-wrapper">
    <h3 class="page-heading mb-4">Buttons</h3>
    <div class="row mb-4">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">Button with filled color</h5>
                    <button type="button" class="btn btn-primary mr-2">Primary</button>
                    <button type="button" class="btn btn-secondary mr-2">Secondary</button>
                    <button type="button" class="btn btn-success mr-2">Success</button>
                    <button type="button" class="btn btn-info mr-2">Info</button>
                    <button type="button" class="btn btn-warning mr-2">Warning</button>
                    <button type="button" class="btn btn-danger mr-2">Danger</button>
                    <button type="button" class="btn btn-link">Link</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">Button with outline</h5>
                    <button type="button" class="btn btn-outline-primary mr-2">Primary</button>
                    <button type="button" class="btn btn-outline-secondary mr-2">Secondary</button>
                    <button type="button" class="btn btn-outline-success mr-2">Success</button>
                    <button type="button" class="btn btn-outline-info mr-2">Info</button>
                    <button type="button" class="btn btn-outline-warning mr-2">Warning</button>
                    <button type="button" class="btn btn-outline-danger">Danger</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">Button sizes</h5>
                    <button type="button" class="btn btn-primary btn-lg mr-2">Large button</button>
                    <button type="button" class="btn btn-primary mr-2">Medium button</button>
                    <button type="button" class="btn btn-primary btn-sm">Small button</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}